.flexx {
  display: inline-flex;
  margin-top: 50px;
}

.leftt {
  width: 640px;
  height: 600px;
  background-color: white;
  color: black;
}

.rightt {
  width: 700px;
  background-color: rgb(36, 47, 53);
}

.phtoo {
  height: 100%;
  width: 100%;
  margin-top: 115px;
  margin-left: 100px;
}

.sok {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 80px;
  margin-left: 120px;
  margin-top: 150px;
}

.sokic {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 50px;
  margin-left: 120px;
  margin-top: -50px;
}

.d4 {
    font-size: 17px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 120px;
    margin-top: 40px;
    overflow-y: hidden !important;
}

.d2 {
    font-size: 17px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 120px;
    margin-top: -10px;
    overflow-y: hidden !important;
}

.d3 {
    font-size: 17px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 120px;
    margin-top: -10px;
    overflow-y: hidden !important;
}

.protein {
  height: 100%;
  width: 100%;
}

.flexic {
  display: inline-flex;
}

.sliks {
  width: 70%;
  height: 90%;
  margin-top: 70px;
  margin-left: 120px;
}

.stol {
  font-size: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 700;
  margin-top: 200px;
  margin-left: 420px;
  display: inline-flex;
}

.pingvin {
  font-size: 17px;
  font-family: 'Baloo Tammudu 2', cursive;
  margin-right: 100px;
  text-align: right;

}

.oneD {
  font-size: 17px;
  font-family: 'Baloo Tammudu 2', cursive;
  margin-right: 80px;
  text-align: end;
  margin-top: -12px;
  overflow-y: hidden !important;
}

.pingo {
    border: none;
    background-color: rgb(36, 47, 53);
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 370px;
    margin-top: 65px;
}

.pingo2 {
  border: none;
  background-color: rgb(36, 47, 53);
  color: white;
  font-family: 'Baloo Tammudu 2', cursive;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 250px;
  margin-top: 65px;
}

.zadnjiFlex {
  display: inline-flex;
  margin-bottom: 100px;
}

.kartTek {
  width: 500px;
  height: 500px;
  background-color: rgb(36, 47, 53);
  margin-top: 200px;
  margin-left: 100px;
}

.kartSlik {
  width: 740px;
  background-color: #808080;
  margin-top: 200px;
  margin-right: 100px;
  height: 500px;

}

.slikana {
  width: 100%;
  height: 100%;
}

.iskljuci {
  color: whitesmoke;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 50px;
  font-weight: 300;
  margin-left: 200px;
  margin-top: 60px;
}

.ukljuci {
  color: whitesmoke;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 30px;
  font-weight: 300;
  margin-left: 230px;
  margin-top: -40px;
}

.y {
  font-size: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: whitesmoke;
  margin-left: 180px;
  margin-top: 50px;
}

.y2 {
  font-size: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: whitesmoke;
  margin-left: 170px;
  margin-top: -20px;
}

.y3 {
  font-size: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: whitesmoke;
  margin-left: 180px;
  margin-top: -20px;
}

.stres {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    background-color: #808080;
    color: white;
    text-align: center;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    border-radius: 40px;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 80px;
}

.stresic {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  background-color: #808080;
  color: white;
  text-align: center;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  vertical-align: middle;
  border-radius: 40px;
  font-size: 15px;
  margin-left: 115px;
  margin-top: 100px;
}

.taylor {
  text-align: center;
}

.tayloric {
  text-align: center;
}

.dominik {
  color: red;
  font-size: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 300;
  margin-right: 5px;
  margin-bottom: 50px;

}

.nikola {
  font-size: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 700;
  margin-right: 5px;
}

.jaki {
  font-size: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 300;
  margin-right: 5px;
}

.jasna {
  font-size: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 700;
  margin-right: 5px;
}

.radovi {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 40px;
  font-weight: 300;
  margin-left: 250px;
  margin-top: 120px;
}
.radovi2 {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 40px;
  font-weight: 200;
  margin-top: -30px;
  margin-left: 250px;
}

.mT {
  margin-top: 100px;
  margin-bottom: 100px;
}

.capak {
  margin-top: 70px;
}