.jazavac {
    width: 1450px;
    height: 760px;
}

.jazaviTekst {
    color: black;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
   
}

.jazaviDiv {
    background-color: rgb(36, 47, 53);
    height: 300px;
    width: 500px;
    position: absolute;
    left: 0; 
    bottom: 200px;
    right: 650px;
    margin: auto;
    opacity: 0.95;
}

.jazavaCrta {
    border-top: 1px solid white;
    opacity: 0.5;
    margin-top: 23px;
    width: 400px;
    margin-left: 71px;
   
}

.drugaJazavaCrta {
    border-top: 1px solid white;
    opacity: 0.5;
    margin-top: 250px;
    width: 430px;
    margin-left: 41px;;

}

.divCrta {
    background-color: white;
    height: 250px;
    width: 1px;
    margin-left: 470px;
    margin-top: -267px;
    opacity: 0.5;
    
}

.winter {
    color: white;
    font-size: 50px;
    font-weight: 300;
    margin-top: -240px;
    margin-left: 150px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.fairytale {
    font-size: 30px;
    font-weight: 300;
    margin-top: -40px;
    margin-left: 180px;
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
}

.darkness {
    color: white;
    font-size: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 100px;
    margin-top: -20px;
}

.mix {
    color: white;
    font-size: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-top: -15px;
    margin-left: 95px;
}

.countless {
    color: white;
    font-size: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-top: -15px;
    margin-left: 95px;
}

.fix {
    color: white;
    font-size: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-top: -15px;
    margin-left: 70px;
}

.pomDiv1 {
    text-align: center;
  }

  .projekt1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    background-color: #808080;
    color: white;
    text-align: center;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    border-radius: 40px;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 0px;
    opacity: 1;
  }

  .ikonice {
    background-color: #eeeeee;
  }

  .title {
    margin-left: 650px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .prva {
    margin-left: 300px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 25px;
    font-weight: 300;
  }

  .druga {
    margin-left: 510px;
    margin-top: -98px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 25px;
    font-weight: 300;
  }

  .treca {
    margin-left: 750px;
    margin-top: -37px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 25px;
    font-weight: 300;
  }

  .cetvrta {
    margin-left: 990px;
    margin-top: -37px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 25px;
    font-weight: 300;
  }

  .fa-palette {
    margin-top: -300px;
    font-size: 50px;
    margin-left: 350px;
    margin-bottom: 50px;
    color: #9d7f61;
  }

  .fa-heart {
    margin-top: -300px;
    font-size: 30px;
    margin-left: 560px;
    margin-bottom: 30px;
    color: #9d7f61;
    font-size: 50px;
  }