.flexx {
  display: inline-flex;
  margin-top: 50px;
}

.leftt {
  width: 640px;
  height: 600px;
  background-color: white;
  color: black;
}

.rightt {
  width: 700px;
  background-color: rgb(36, 47, 53);
}

.phtoo {
  height: 100%;
  width: 100%;
  margin-top: 115px;
  margin-left: 100px;
}

.sok {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 80px;
  margin-left: 120px;
  margin-top: 150px;
}

.sokic {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 50px;
  margin-left: 120px;
  margin-top: -50px;
}

.d {
    font-size: 17px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 120px;
    margin-top: 40px;
}

.d2 {
    font-size: 17px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 120px;
    margin-top: -10px;
}

.flexic {
  display: inline-flex;
}

.sliks {
  width: 85%;
  height: 100%;
  margin-top: 50px;
  margin-left: 70px;
}

.stol {
  font-size: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 700;
  margin-top: 200px;
  margin-left: 530px;
}

.pingvin {
  font-size: 17px;
  font-family: 'Baloo Tammudu 2', cursive;
  margin-right: 100px;
  text-align: right;

}

.oneD {
  font-size: 17px;
  font-family: 'Baloo Tammudu 2', cursive;
  margin-right: 100px;
  text-align: right;
  margin-top: -16px;
}

.pingo {
    border: none;
    background-color: rgb(36, 47, 53);
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 440px;
    margin-top: 100px;
}

.zadnjiFlex {
  display: inline-flex;
  margin-bottom: 100px;
}

.kartTek {
  width: 500px;
  height: 500px;
  background-color: rgb(36, 47, 53);
  margin-top: 200px;
  margin-left: 100px;
}

.kartSlik {
  width: 740px;
  background-color: #808080;
  margin-top: 200px;
  margin-right: 100px;
  height: 500px;

}

.slikana {
  width: 100%;
  height: 100%;
}

.iskljuci {
  color: whitesmoke;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 50px;
  font-weight: 300;
  margin-left: 200px;
  margin-top: 60px;
}

.ukljuci {
  color: whitesmoke;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 30px;
  font-weight: 300;
  margin-left: 230px;
  margin-top: -40px;
}

.y {
  font-size: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: whitesmoke;
  margin-left: 180px;
  margin-top: 50px;
}

.y2 {
  font-size: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: whitesmoke;
  margin-left: 170px;
  margin-top: -20px;
}

.y3 {
  font-size: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  color: whitesmoke;
  margin-left: 180px;
  margin-top: -20px;
}

.stres {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    background-color: #808080;
    color: white;
    text-align: center;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    border-radius: 40px;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 80px;
}

.taylor {
  text-align: center;
}