.studioTekst {
    color: black;
    margin-top: 100px;
    margin-left: 150px;
    font-size: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
  }
  .aboutUs {
     
      width: 80%;
      height: 400px;
      margin-left: 10%;
  }
  .leftStudio {
      margin-top:25px;
      background-color:rgb(36, 47, 53);

  }
  .circleStudio {
      border-radius: 60%;
      height: 200px;
      width: 250px;
      margin-left: 950px; 
      margin-top: -450px;  
  }
  .circlePerson {
    border-radius: 60%;
    height: 200px;
    width: 250px;
    margin-left: -950px;
    margin-top: 50px;

  }
  .aboutOwner {
    color: black;
    margin-top: -170px;
    margin-left: 700px;
    font-size: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
  }